.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.nappi {
  padding: 1em;
  margin-top: 0.5rem;
  color: darkviolet;
  background-color: white;
  border-radius: 10px;
  border-color: darkviolet;
  border-width: 3px;
}

.message {
  width: 40%;
  margin: auto;
  font-size: 30px;
 padding: 50px;
  background-color: silver;
  color: green;
  border-width: 10px;
  border-color: green;
}

.nappiDelete {
  padding: 0.4em;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  color: white;
  background-color: darkviolet
  ;
  border-radius: 10px;
  border-color: white;
  border-width: 2px;
}

.footer {
  margin-top: 5%;
  background-color: darkviolet;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  justify-content: center;
  ;
}

.kurssi {
  padding: 0.7rem;
  background-color: violet;
  width: 50%;
  margin: auto;

}

#nimiInput {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 8px;
  box-sizing: border-box;
  border-radius: 5px;
}

#laajuusInput {
  width: 10%;
  padding: 12px 20px;
  margin: 8px 8px;
  box-sizing: border-box;
  border-radius: 5px;
}

form {
  padding: 1rem;
}

.App-header {
  background-color: darkviolet;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

